@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>CMS</title>
  
  
  
      <link rel="stylesheet" href="~/Content/style.css">

  
</head>

<body style=" background:url(../Images/b.jpg) no-repeat ;  ">
  
<form method="post" action="~/UpdatePassword/Index1">
  <header style=" background:#b200ff;">Update Password</header>
 <h1> <label>ID <span></span></label>
  <input name="name" placeholder="id"  maxlength="10" required/></h1>
  

  <h1><label>New Password <span/><span/><span/></label>
  <input name="password" placeholder="new password"  maxlength="40" required/></h1>
  
  
  <button style=" background:#b200ff;">Update Password</button>
</form>
  
  
</body>
    @{
        string s =(string)Session["status4"];
    }
    
    @if(s == "true4")
    {
    <script  type='text/javascript'>
        alert('Invalid ID.Please try with a valid ID.');

    </script>
        Session["status4"] = "false";
    }
</html>
